<header class="header bg-info">
  <div class ="container">
    <div class="row">
        <div class = "header-left col-4">
          <h1 class= "mt-1 text-white">Self-esteem</h1>
        </div>
        <div class = "col-8 ">
          <ul class = "list-group list-group-horizontal float-right pt-1">
            <% if user_signed_in? %>
              <li class="list-group-item bg-info"><%= link_to current_user.nickname, "#", class: "user-nickname text-white-50" %></li> 
              <li class="list-group-item bg-info"><%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "logout text-white-50" %></li> 
            <% else %>
              <li class="list-group-item bg-info"><%= link_to 'Log in', new_user_session_path, class: "login text-white-50" %></li>
              <li class="list-group-item bg-info"><%= link_to 'Sign up', new_user_registration_path, class: "sign-up text-white-50" %></li>
            <% end %>
          </ul>
        </div>
    </div>
 </div>
</header>
<div class="hai">
aaaa
</div>