// Place all the styles related to the life_charts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.body {
  padding: 100%;
  background-size: auto;
  background-image: url(1680_1050_20100713084553210256.jpg);
}